.idea
qknty17source.iml
*manifest.rc
*/Debug/*
*/*/Debug/*
*/*/Release/*
*/Release/*
Developer.opensdf
Developer.sdf
dlls/dlls32/*.dat
ipch/qwmain-5d3fbd37/precomp-62327bab.ipch
dlls/dlls32/homepagetxns_uncat.txt
dlls/dlls32/qsapi/qsapi_plan.dat
dlls/dlls32/qsapi/qsapi_xsel.dat
dlls/dlls32/qw.exe.config
dlls/dlls32/smrycat.txt
dlls/dlls32/snap/*
ManagedQW/Debug/*
ManagedQW/Release/*
ManagedQW/*/obj/*
ManagedQW/*/obj/*
packages/*
qcom/core-apps/*/Debug/*
qcom/core-apps/*/Release/*
qw/$(OutDir$(TargetName)$(TargetExt).embed.manifest
tools/TxReg/cookie/Debug/*
tools/TxReg/cookie/Release/*
tools/TxReg/txreg/Debug/*
tools/TxReg/txreg/Release/*
ipch/qwwin-17418fae/qwwin-89b69e2.ipch
ipch/qaccess-624921c8/qaccess-8d32596f.ipch
ipch/qwutil-f82d40e/qwutil-fe71a68e.ipch
dlls/dlls32/*.dll
dlls/dlls32/*.lib
dlls/dlls32/*.pdb
SendError/objs/.NETFramework,Version=v4.6.1.AssemblyAttributes.obj
SendError/objs/*.obj
Developer.v12.suo
qwapp/qwapp.tlb
qwapp/qwapp_i.c
qwapp/qwapp_p.c
qwDataFileSanitizer/stdafx.pch
qnet/qnet.tlb
qnet/qnet_i.c
qwutil/mshtmlvw_i.c
qwutil/mshtmlvw_p.c
SendError/Src/*.pch
SendError/objs/*.tlh
SendError/objs/*.pdb
AdvancedDataStructure/*/Debug/*
*.suo
*.dll
*.lib
*.pdb
*.thl
*.obj
*.log
*.ipch
*.tlb
*.user
*.tlh
*.pch
*.tlh
*_i.c
*_i.p
*_p.c
*_h.h
*.vcxproj
*.vcxproj.filters
*.VC.db
*.VC.opendb
.vs
.vs/C_plus_plus_STL
DesignProblems/x64
StringPractice/x64
x64



